@tailwind base;
@tailwind components;
@tailwind utilities;


#bloco-1{
  background-image: url("../../public/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#bloco-2{
  background-image: url("../../public/linkedin.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#bloco-3{
  background-image: url("../../public/email.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#bloco-4{
  background-image: url("../../public/whatsapp.svg");
  background-repeat: no-repeat;
  background-size:cover;
  
 
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}